<div class="main-container d-flex p-0"

 (click)="closeChatIfOutside($event)">
  <div class="card friends-card">
    <div class="card-header d-flex justify-content-center p-3">
      <h5 class="card-title">Amici</h5>
    </div>
    <div class="card-body">
      <p class="card-text">Seleziona un amico per iniziare a chattare.</p>
      <input type="text" [(ngModel)]="searchText" placeholder="Cerca un amico..." class="form-control mb-3"/>
      <div class="friends-list">
        <div *ngFor="let friend of filteredFriends" (click)="selectFriend(friend, $event)" class="d-flex align-items-center">
          <div class="position-relative">
            <img [src]="friend.pictureProfile" alt="Profile Picture" class="friend-photo">
            <span class="status-indicator" [ngClass]="friend.online ? 'online' : 'offline'"></span>
            <p>{{ friend.name }}&nbsp;{{ friend.surname }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-window" [ngClass]="{'open': selectedFriend}" *ngIf="selectedFriend">
    <div class="chat-header d-flex align-items-center p-3 bg-secondary">
      <img [src]="selectedFriend.pictureProfile" alt="Profile Picture" class="chat-header-photo">
      <h5 class="chat-header-title">{{ selectedFriend.name }}&nbsp;{{ selectedFriend.surname }}</h5>
    </div>
    <div class="messages border-0">
      <div *ngFor="let message of messages" class="message">
        <strong>{{ message.sender === user.id ? 'You' : selectedFriend.name }}:</strong> {{ message.content }}
      </div>
    </div>
    <div class="input-container d-flex bg-primary border-0 align-items-center">
      <input [(ngModel)]="messageContent" placeholder="Scrivi qui"/>
      <button (click)="sendMessage()">Send</button>
    </div>
    <div>
      <app-user-skill-exchange-request [friendId]="selectedFriend.id"></app-user-skill-exchange-request>
      <app-user-review [friendId]="selectedFriend.id"></app-user-review>
    </div>
  </div>
</div>
