<div>
  <section class="col-12 d-flex justify-content-center">
    
  </section>

  <div class="row">
    <div class="col-4">
        <app-user-appointments  *ngIf="userIdParam == userId"></app-user-appointments>
        <app-user-details class="d-flex justify-content-center"  *ngIf="userIdParam != userId"></app-user-details>
    </div>
    <div class="col-4 d-flex flex-column align-items-center">
      <div *ngFor="let post of postByUserId" class="card m-3 post-card" id="{{ post.id }}">
        <img [src]="post.resourceUrls" class="card-img-top post-image" alt="&nbsp;">
        <div class="card-body">
          <h5 class="card-title">{{ post.author }}
            <span><img [src]="post.user.pictureProfile" class="rounded-circle profile-pic"/></span>
          </h5>
          <p class="card-text">{{ post.content }}</p>
          <div class="card-footer bg-warning">
            <p class="card-text">Creato il: {{ post.createdDate || 'Data non disponibile' }}</p>
             <!-- DISATTIVATO MOMENTANEAMENTE, DA IMPLEMENTARE CON PROSSIMA FEATURE
            <p class="card-text">Flow Like: {{ post.likes }}</p>
            <button class="btn btn-primary">Flow Like</button>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 d-flex flex-column align-items-center">
     <app-user-skill ></app-user-skill>
      <app-user-chat class="col-4 d-flex justify-content-center" ></app-user-chat>
    </div>
  </div>
</div>
