<div class="container mb-3 p-0">
  <div *ngIf="receivedFriendRequests.length; else noRequests">
    <ul class="list-group">
      <li *ngFor="let request of receivedFriendRequests" class="list-group-item bg-primary p-3">
        <div class="d-flex align-items-center mb-3">
        <img [src]="request.sender.pictureProfile" alt="{{ request.sender.name }}'s profile picture" class="rounded-circle" />
        <p class="mx-2 text-white">{{ request.sender.name }} {{ request.sender.surname }}</p>
       </div>
        <div class="d-flex">
        <button class="btn btn-secondary mx-1" (click)="acceptRequest(request.id)">Accetta</button>
        <button class="btn btn-warning mx-1" (click)="declineRequest(request.id)">Rifiuta</button>
        </div>
      </li>
    </ul>
  </div>

  <ng-template #noRequests>
    <p>Non hai ricevuto richieste di amiciza.</p>
  </ng-template>
</div>
