<!--
<div class="form-container d-flex flex-column align-items-center">
  <h1 class="display-4 fw-normal text-primary">Registrati</h1>
  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group mb-3">
      <label for="username" class="form-label">Username</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg
            height="20"
            viewBox="0 0 32 32"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Layer_3" data-name="Layer 3">
              <path
                d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"
              ></path>
            </g>
          </svg>
        </span>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter your Username"
          [(ngModel)]="signupInterface.username"
          required
        />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="name" class="form-label">Name</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg
            height="20"
            viewBox="0 0 32 32"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Layer_3" data-name="Layer 3">
              <path
                d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"
              ></path>
            </g>
          </svg>
        </span>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Enter your Name"
          [(ngModel)]="signupInterface.name"
          required
        />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="surname" class="form-label">Surname</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg
            height="20"
            viewBox="0 0 32 32"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Layer_3" data-name="Layer 3">
              <path
                d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"
              ></path>
            </g>
          </svg>
        </span>
        <input
          type="text"
          id="surname"
          name="surname"
          class="form-control"
          placeholder="Enter your Surname"
          [(ngModel)]="signupInterface.surname"
          required
        />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="dateOfBirth" class="form-label">Date of Birth</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg
            height="20"
            viewBox="0 0 32 32"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Layer_3" data-name="Layer 3">
              <path
                d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"
              ></path>
            </g>
          </svg>
        </span>
        <input
          type="date"
          id="dateOfBirth"
          name="dateOfBirth"
          class="form-control"
          [(ngModel)]="signupInterface.dateOfBirth"
          required
        />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="email" class="form-label">Email</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg
            height="20"
            viewBox="0 0 32 32"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="Layer_3" data-name="Layer 3">
              <path
                d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"
              ></path>
            </g>
          </svg>
        </span>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter your Email"
          [(ngModel)]="signupInterface.email"
          required
        />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="password" class="form-label">Password</label>
      <div class="input-group">
        <span class="input-group-text">
          <svg
            height="20"
            viewBox="-64 0 512 512"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"
            ></path>
            <path
              d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969-16-16-16s-16 7.167969-16 16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"
            ></path>
          </svg>
        </span>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter your Password"
          [(ngModel)]="signupInterface.password"
          required
        />
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="pictureProfile" class="form-label">Profile Picture</label>
      <input
        type="file"
        id="pictureProfile"
        name="pictureProfile"
        class="form-control"
        (change)="onFileChange($event)"
      />
    </div>
    <div class="form-group mb-3">
      <label for="interests" class="form-label">Interests</label>
      <div class="input-group">
        <select
          [(ngModel)]="selectedInterest"
          name="selectedInterest"
          class="form-control"
        >
          <option value="" disabled selected>Select your interests</option>
          <option *ngFor="let interest of allInterests" [value]="interest">
            {{ interest | interestFormat }}
          </option>
        </select>
        <button
          type="button"
          class="btn btn-light border-secondary-subtle"
          (click)="addInterest()"
        >
          Add Interest
        </button>
      </div>
      <ul class="list-unstyled mt-2">
        <li
          *ngFor="let interest of signupInterface.interests; let i = index"
          class="p-1"
        >
          {{ interest }}
          <button
            type="button"
            class="btn btn-sm btn-danger"
            (click)="deleteInterest(i)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#e8eaed"
            >
              <path
                d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-center mt-4 mb-1">
      <button
        type="submit"
        [disabled]="!signupForm.valid"
        class="btn btn-secondary w-50"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
 -->

 <div class="form-container d-flex flex-column align-items-center">
    <h1 class="display-4 fw-bold text-secondary">Registrati</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="username" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text">
            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
              <g id="Layer_3" data-name="Layer 3">
                <path d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"></path>
              </g>
            </svg>
          </span>
          <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter your Username">
        </div>
        <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="text-danger">
          Username is required
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name</label>
        <div class="input-group">
          <span class="input-group-text">
            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
              <g id="Layer_3" data-name="Layer 3">
                <path d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"></path>
              </g>
            </svg>
          </span>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter your Name">
        </div>
        <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="text-danger">
          Name is required
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="surname" class="form-label">Surname</label>
        <div class="input-group">
          <span class="input-group-text">
            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
              <g id="Layer_3" data-name="Layer 3">
                <path d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"></path>
              </g>
            </svg>
          </span>
          <input type="text" id="surname" formControlName="surname" class="form-control" placeholder="Enter your Surname">
        </div>
        <div *ngIf="signupForm.get('surname')?.invalid && signupForm.get('surname')?.touched" class="text-danger">
          Surname is required
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="dateOfBirth" class="form-label">Date of Birth</label>
        <div class="input-group">
          <span class="input-group-text">
            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
              <g id="Layer_3" data-name="Layer 3">
                <path d="m16 0a16 16 0 1 0 16 16 16 16 0 0 0 -16-16zm0 4a5 5 0 1 1 -5 5 5 5 0 0 1 5-5zm0 24a11 11 0 0 1 -8.485-4.015 8.5 8.5 0 0 1 16.97 0a11 11 0 0 1 -8.485 4.015z"></path>
              </g>
            </svg>
          </span>
          <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control">
        </div>
        <div *ngIf="signupForm.get('dateOfBirth')?.invalid && signupForm.get('dateOfBirth')?.touched" class="text-danger">
          Date of Birth is required
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
          <span class="input-group-text">
            <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
              <g id="Layer_3" data-name="Layer 3">
                <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
              </g>
            </svg>
          </span>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your Email">
        </div>
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
          Valid Email is required
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="input-group">
          <span class="input-group-text">
            <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
              <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path>
              <path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969-16-16-16s-16 7.167969-16 16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path>
            </svg>
          </span>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your Password">
        </div>
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
          Password is required
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="pictureProfile" class="form-label">Profile Picture</label>
        <div class="profile-picture-wrapper">
          <img id="profilePreview" src="../../../assets/img/profile-default.svg" class="rounded-circle profile-picture">
          <input type="file" id="pictureProfile" (change)="onFileChange($event)" class="form-control">
        </div>
         <button *ngIf="selectedFile" type="button" (click)="removeFile()" class="btn btn-secondary btn-sm">Rimuovi immagine</button>
      </div>
      <div class="form-group mb-3">
        <label for="interests" class="form-label">Interests</label>
        <div class="input-group">
          <select formControlName="selectedInterest" class="form-control">
            <option value="" disabled selected>Select your interests</option>
            <option *ngFor="let interest of allInterests" [value]="interest">{{interest | interestFormat}}</option>
          </select>
          <button type="button" class="btn btn-light border-secondary-subtle" (click)="addInterest()">Add Interest</button>
        </div>
        <ul class="list-unstyled mt-2">
          <li *ngFor="let interest of signupForm.get('interests')?.value; let i = index" class="p-1">
            {{interest}} <button type="button" class="btn btn-sm btn-danger" (click)="deleteInterest(i)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-1">
        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-secondary w-50">Sign Up</button>
      </div>
    </form>
  </div>
  
  