.form-container {
  .img-thumbnail {
    object-fit: cover;
    border: none;
  }
  .btn-secondary {
    margin-right: 10px;
  }
  .profile-picture-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .profile-picture {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ccc;
    }

    .btn-danger {
      margin-left: 1rem;
    }
  }
}
