<div class="footer mt-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h5 class="footer-title text-center">SkillFloww</h5>
          <p class="footer-text text-center">SkillFloww è la piattaforma ideale per migliorare le tue competenze. Unisciti alla nostra community e inizia ad apprendere oggi stesso!</p>
        </div>
        <div class="col-md-4 text-center">
          <h5>Contatti</h5>
          <p>Email: info&#64;skillfloww.com</p>
          <p>Telefono: +39 123 456 789</p>
        </div>
        <div class="col-md-4 text-center">
          <h5>Seguici</h5>
          <a href="#" class="fab fa-facebook-f" style="text-decoration: none"></a>
          &nbsp;
          <a href="#" class="fab fa-twitter" style="text-decoration: none"></a>
          &nbsp;
          <a href="#" class="fab fa-linkedin-in" style="text-decoration: none"></a>
          &nbsp;
          <a href="#" class="fab fa-instagram" style="text-decoration: none"></a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p>&copy; 2024 SkillFlow. Tutti i diritti sono riservati.Marchio registrato <sup>&reg;</sup></p>
        </div>
      </div>
    </div>
  </div>
  